code_samples/logic_apps.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "DAG_Name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DAG Name",
                            "type": "string",
                            "value": "example_dag_basic"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Deployment_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Deployment ID",
                            "type": "string",
                            "value": "dm9l84sa"
                        }
                    ]
                },
                "runAfter": {
                    "DAG_Name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "HTTP_-_Get_Access_Token": {
                "inputs": {
                    "body": {
                        "audience": "astronomer-ee",
                        "client_id": "lHY76z2mhuZvkwtIgld5GKpD9aZAQgfW",
                        "client_secret": "zpXlfiiaOOW5ZDYRHtkdDImW6FwkFq7Hs_fGTGPg7f6BxOI4wZEpy6rH1PffKlEF",
                        "grant_type": "client_credentials"
                    },
                    "headers": {
                        "content-type": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://auth.astronomer.io/oauth/token"
                },
                "runAfter": {
                    "Deployment_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP_-_Trigger_DAG_Run": {
                "inputs": {
                    "body": {},
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
                        "Cache-Control": "no-cache",
                        "content-type": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://ey.astronomer.run/@{variables('Deployment ID')}/api/v1/dags/@{variables('DAG Name')}/dagRuns"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP_-_Get_Access_Token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            },
                            "scope": {
                                "api_key": {
                                    "type": "string"
                                },
                                "deployment": {
                                    "type": "string"
                                }
                            },
                            "token_type": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_Get_Access_Token": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}